In [12]:
import re

In [13]:
text = (
    "Alice Smith recently visited our clinic. Her phone number is 7321119999, "
    "and you can reach her at alice.smith@example.com for any follow-up information. "
    "She was born on 1990-05-15."
    "Her insurance ID is INS-123456. The bill amount for her recent appointment is 120$."
)
pattern_phone = r"\d{10}"
pattern_email = r"[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
pattern_birthdate = r"\d{4}-\d{2}-\d{2}"
pattern_bill_amt = r"(\d+)\$"
pattern_insurance_id = r"INS-\d+"

phone_numbers = re.findall(pattern_phone, text)
emails = re.findall(pattern_email, text)
birthdates = re.findall(pattern_birthdate, text)
bill_amounts = re.findall(pattern_bill_amt, text)
insurance_ids = re.findall(pattern_insurance_id, text)

phone_numbers, emails, birthdates, bill_amounts, insurance_ids

(['7321119999'],
 ['alice.smith@example.com'],
 ['1990-05-15'],
 ['120'],
 ['INS-123456'])

In [14]:
import pandas as pd

data = {
    'Phone Number': phone_numbers,
    'Email': emails,
    'Birthdate': birthdates,
    'Insurance ID': insurance_ids,
    'Bill Amount': bill_amounts
}

df = pd.DataFrame(data)
df.to_excel('patient_info.xlsx', index=False)

In [10]:
# Create additional paragraphs with relevant information
text2 = (
    "Bob Johnson's insurance ID is INS-654321. He was born on 1985-11-23. "
    "You can contact him at bob.johnson@example.com or call 6462228888. "
    "The bill amount for his last visit is 200$."
)

text3 = (
    "Carol Lee can be reached at carol.lee@example.com. "
    "Her phone number is 9173337777. "
    "She was born on 1978-03-09 and her insurance ID is INS-789012. "
    "The bill for her appointment is 150$."
)

# Extract information using the same patterns
def extract_info(text):
    return {
        'Phone Number': re.findall(pattern_phone, text),
        'Email': re.findall(pattern_email, text),
        'Birthdate': re.findall(pattern_birthdate, text),
        'Insurance ID': re.findall(pattern_insurance_id, text),
        'Bill Amount': re.findall(pattern_bill_amt, text)
    }

info2 = extract_info(text2)
info3 = extract_info(text3)

# Prepare data for new rows
new_rows = [
    {
        'Phone Number': info2['Phone Number'][0],
        'Email': info2['Email'][0],
        'Birthdate': info2['Birthdate'][0],
        'Insurance ID': info2['Insurance ID'][0],
        'Bill Amount': info2['Bill Amount'][0]
    },
    {
        'Phone Number': info3['Phone Number'][0],
        'Email': info3['Email'][0],
        'Birthdate': info3['Birthdate'][0],
        'Insurance ID': info3['Insurance ID'][0],
        'Bill Amount': info3['Bill Amount'][0]
    }
]

# Append new rows to the dataframe and save to Excel
df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
df.to_excel('patient_info.xlsx', index=False)
df

  Phone Number                    Email   Birthdate Insurance ID Bill Amount
0   7321119999  alice.smith@example.com  1990-05-15   INS-123456         120
1   6462228888  bob.johnson@example.com  1985-11-23   INS-654321         200
2   9173337777    carol.lee@example.com  1978-03-09   INS-789012         150